.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
.container button {
  display: block;
  float: left;
  margin: 2px;
}
.group {
  display: block;
  float: left;
  margin: 8px;
  font-weight: bold;
}
.group p {
  font-weight: normal;
}
